*,
body {
    box-sizing: border-box;
    margin: auto;
    font-family: "Parkinsans", sans-serif;
}

button {
    background-color: tomato;
    border: none;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    display: flex;
    margin: 20px auto;
}

h2,
h3,
h4 {
    font-weight: 500;
    font-size: 18px;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

header {
    text-align: center;
    background-color: rgb(233, 232, 232);
    padding: 10px 0;
}

main .all-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

main .card {
    box-shadow: 10px 10px 10px rgb(233, 232, 232), -10px -10px 10px rgb(233, 232, 232);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

main .card img {
    width: 100%;
}

main .card .foot {
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

main .card .features {
    padding: 10px 0;
}


main {
    position: relative;
}


/* add dynamicaly */
.block {
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    scroll-behavior: smooth;
}



/* --------------------- pop-up--------------------------- */
main .over-area {
    width: 80%;
    height: 500px;
    max-width: 1000px;
    box-shadow: 10px 10px 100px gray, -10px -10px 100px gray;
    border-radius: 10px;
    background-color: white;


    /* add dynamicaly */
    /* display: flex; */
    display: none;


    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}



main .pops {
    width: 80%;
}

main .pop-up {
    display: flex;
    gap: 20px;
}

main .fa-xmark {
    margin: 20px;
    position: absolute;
    color: tomato;
    font-size: 25px;
    cursor: pointer;
}

main .left-card {
    background-color: antiquewhite;
    border: 1px solid tomato;
    border-radius: 10px;
    padding: 20px;
}

main .right-card {
    border: 1px solid tomato;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

main .right-card img {
    width: 100%;
}

main .mini-card {
    display: flex;
    gap: 20px;
    padding: 10px;
}

main .mini-card span {
    background-color: white;
    /* padding: 10px; */
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 12px;
}

main .mini-card .basic {
    color: green;
}

main .mini-card .pro {
    color: orange;
}

main .mini-card .enterprise {
    color: tomato;
}

main .foot {
    display: flex;
}

main .foot ul {
    margin: 0 15px;
    padding: 0px;
}








footer {
    background-color: rgb(233, 232, 232);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
}

footer .icons {
    display: flex;
    gap: 20px;
}